appsettings.Development.json
appsettings.json
secrets.json
user-secrets/
*.env

bin/
obj/

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

*.csproj.user

publish/
**/publish/

*.log
*.log.*
logs/
TestResults/
*.coverage
*.coveragexml

packages/
*.nupkg
.nuget/packages/*
! .nuget/packages.config

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

**/wwwroot/dist/

*.efbundle

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user